{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{%- block title -%}
    {% trans %}Groups{% endtrans %}
{%- endblock -%}

{% block submenu %}
    <nav class="ui bottom attached two item borderless menu">
        <a class="active item" href="{{ url_for('groups.groups') }}">
            <i class="th list icon"></i>
            {% trans %}View{% endtrans %}
        </a>
        <a class="item" href="{{ url_for('groups.create_group') }}">
            <i class="plus icon"></i>
            {% trans %}Add{% endtrans %}
        </a>
    </nav>
{% endblock %}

{% block content %}
    <div class="ui top attached segment">
        <h2 class="ui center aligned header">
            <div class="content">
                {% trans %}Groups{% endtrans %}
            </div>
        </h2>
        {{ table.search(table_form, "table.groups") }}
    </div>
    {% include "partial/groups.html" %}
{% endblock %}
